{% extends 'layout/user.html.twig' %}

{% block content %}

    <section class="user-dashboard page-wrapper dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-wrapper user-dashboard background-white">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>email</th>
                                    <th>Message</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for userMessage in userMessages%}
                                <tr>
                                    <td> {{userMessage.name}} </td>
                                    <td> {{userMessage.firstname }}</td>
                                    <td> {{userMessage.email }}</td>
                                    <td> {{userMessage.message }}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default"><i class="tf-pencil2" aria-hidden="true"></i>{{ url() }}</button>
                                            <button type="button" class="btn btn-default"><i class="tf-ion-close" aria-hidden="true"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}