{% extends 'layout/website.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name text-center"> Connexion</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="signin-page account" >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block text-center">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <h2 class="text-center">Welcome Back</h2>
                        <form method="post" class="text-left clearfix" >
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputEmail"></label><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="email">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword"></label><input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="mot de passe">
                            </div>
                            <div class="form-group text-center">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                                <button class="btn btn-main text-center" type="submit">C'est parti</button>
                            </div>
                        </form>
                        <p class="mt-20">Nouveau sur le site ?<a href= {{ url('register') }}> Créer un nouveau compte</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

