{% extends 'layout/basic.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}

    <section class="signin-page account dark" >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block text-center">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <h2 class="text-center">Welcome Back</h2>
                        <form method="post" class="text-left clearfix" >
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="mot de passe">
                            </div>
                            <div class="text-center">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="btn btn-main text-center" >c'est parti</button>
                            </div>
                        </form>
                        <p class="mt-20">Nouveau sur le site ?<a href= {{ url('register') }}> Créer un compte</a></p>
                    </div>
                </div>
            </div>
        </div>
{#    <form method="post">#}
{#        {% if error %}#}
{#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#        {% endif %}#}

{#        {% if app.user %}#}
{#            <div class="mb-3">#}
{#                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#            </div>#}
{#        {% endif %}#}
{#        <label for="inputEmail">Email</label>#}
{#        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#        <label for="inputPassword">Password</label>#}
{#        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#        <input type="hidden" name="_csrf_token"#}
{#               value="{{ csrf_token('authenticate') }}"#}
{#        >#}

{#        #}{##}
{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_remember_me"> Remember me#}
{#            </label>#}
{#        </div>#}
{#        #}

{#        <button class="btn btn-lg btn-primary" type="submit">#}
{#            Sign in#}
{#        </button>#}
{#    </form>#}
{% endblock %}
