{% block content %}
        <div class="col-md-4">
            <div class="product-item">
                <h3 class="title text-center">{{ hourly.hospital.name }}</h3>
                <div class="product-content">
                    <p> ID : {{ hourly.id }}</p>
                    <p>Date: {{ hourly.date|date("d/m/Y", "Europe/Paris") }}</p>
                    <p> Horaire: {{ hourly.hour }}</p>
                    <p>Service: {{ hourly.service.name }}</p>
                    {% if is_granted("ROLE_ADMIN") %}
                        <button class="btn btn-transparent"><a href="{{ path('app_hourly_edit', {'id': hourly.id}) }}">Modifier</a>
                        </button>
                        {{ include('pages/hourly/_delete_form.html.twig') }}

                    {% elseif is_granted("ROLE_HOSPITAL") %}
                        <button class="btn btn-transparent"><a href="{{ path('partnerHospital-adminMessage') }}">Demande de suppression</a></button>

                    {% elseif is_granted("ROLE_USER") %}
                        <button class="btn btn-main btn-small btn-round mini-padding"><a class="white"
                                                                                         href="{{ path('app_hourly_show', {'id': hourly.id}) }}">Voir</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
