{% block content %}
        <div class="col-md-4">
            <div class="product-item">
                <h3 class="title text-center">{{ hourly.hospital.name }}</h3>
                <div class="product-content">
                    <p> ID : {{ hourly.id }}</p>
                    <p>Date: {{ hourly.date|date("d/m/Y", "Europe/Paris") }}</p>
                    <p> Horaire: {{ hourly.hour }}</p>
                    <p>Service: {{ hourly.service.name }}</p>
                        <button class="btn btn-transparent"><a href="{{ path('app_hourly_edit', {'id': hourly.id}) }}">Modifier</a>
                        </button>
                        {{ include('pages/hourly/_delete_form.html.twig') }}
                    <div>
                        {% if is_granted("ROLE_ADMIN") %}
                            {% set isOptions = false %}
                            {% for options in hourly.options %}
                                {% if options.id == app.user.id %}
                                    {% set isOptions = true %}
                                {% endif%}
                            {% endfor%}
                            {% if isOptions%}
                                <a class="red" href="{{ path('remove_options', {id: hourly.id}) }}">En attente de contrat</a>

                            {% else %}
                                <a href="{{ path('add_options', {id: hourly.id}) }}">A vendre</a>

                            {% endif%}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
