{% extends 'layout/website.html.twig' %}

{% block content %}

    <section class="page-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="{{ asset('images/PhotoHome.jpg') }}" alt="photo accueil">
                </div>
                <div class="col-md-6">
                    <div class="title text-center">
                        <h1 class="blue">Bienvenue VacansCuRa </h1>
                        <h3 class="title widget-title">Le site des annonces des prestations médicales du réseau hospitalier CuRa.</h3>
                    </div>
                    {% if app.user %}
                        <h2 class="widget-title text-center">Merci</h2>
                        {% if is_granted("ROLE_ADMIN") %}
                            <h3 class="text-center padding"> {{ app.user.firstname }}</h3>
                            <div class="text-center">
                                <h3 class="text-center padding">de gérer ce site </h3>
                            <a href="{{ url('admin-home') }}">Retour dans ma partie</a>
                            </div>
                        {% elseif is_granted ("ROLE_HOSPITAL") %}
                            <h3 class="text-center padding"> {{ app.user.name }} {{ app.user.firstname }}</h3>
                            <div class="text-center">
                                <h5 class="text-center padding">de nous aider dans la gestion de nos ressources humaines</h5>
                            <a href="{{ url('partnersHospitalHome') }}">Retour dans ma partie</a>
                            </div>
                        {% elseif is_granted("ROLE_USER") %}
                            <h3 class="text-center padding"> {{ app.user.firstname }} {{ app.user.name }}</h3>
                            <div class="text-center">
                                <h3 class="text-center padding"> d'avoir rejoint notre équipe</h3>
                            <a href="{{ url('user-home') }}">Retour dans ma partie</a>
                            </div>
                        {% endif %}
                    {% else %}


                        <div class="text-center">
                            <p class="about">VancansCuRa permet aux <span>hôpitaux</span> du réseau CuRa de communiquer via des <span>annonces</span> les plages horaires pour lesquelles ils sont à la recherche d'un médecin.
                            </p>
                            <p class="about">Vous êtes un médecin et vous souhaitez travailler de manière ponctuelle.</p>
                        </div>
                        <div class="text-center">
                            <h5 class="padding">Envie de rejoindre notre plateforme ? </h5>
                        </div>
                        <div>
                            <div class="text-center padding">
                                <button class="btn btn-main btn-large btn-round-full color-home"><a class="white"
                                                                                                    href="{{ url('register') }}">Je
                                        suis un médecin</a></button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}