{% extends 'layout/admin.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Détails du message</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="img-responsive" src="{{ asset('images/PhotoMessage.jpg') }}" alt="photo message">
                </div>
                <div class="col-md-7">
                    <div class="dashboard-wrapper dashboard-user-profile border">
                        <div class="media-body">
                            <ul class="user-profile-list">
                                <li><span>Nom:</span> {{ admin_message.user.name }}</li>
                                <li><span>Prénom:</span> {{ admin_message.user.firstname}}</li>
                                <li><span>Email:</span><a href="mailto:{{ admin_message.user.email }}">{{ admin_message.user.email}}</a></li>
                                <li><span>Id annonce :</span> {{ admin_message.numberHourly }}</li>
                                <li><span>Nom hôpital :</span> {{ admin_message.hospital.name}}</li>
                                <li><span>Email hôpital :</span> {{ admin_message.hospital.email}}</li>
                                <li><span>Message:</span> {{ admin_message.message }}</li>
                                <div>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        {% set isTextChange = false %}
                                        {% for textChange in admin_message.textChange %}
                                            {% if textChange.id == app.user.id %}
                                                {% set isTextChange = true %}
                                            {% endif%}
                                        {% endfor%}
                                        {% if isTextChange %}
                                            <div class="text-center">
                                            <p> Annonce déjà supprimée.</p>
                                            </div>
                                        {% else %}
                                            <div class="text-center">
                                                <button class="btn btn-transparent"><a href="{{ path('add_textChange', {'id' : admin_message.id}) }}">Aller supprimer l'annonce {{ admin_message.numberHourly }}</a></button>
                                            </div>
                                        {% endif%}
                                    {% endif %}

                                </div>
                                <li><button class="btn btn-transparent"> <a href="{{ path('app_admin_message_index') }}">Retour</a></button></li>
                                <li>{{ include('pages/admin/admin_message/_delete_form.html.twig') }}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}