{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Vos Messages</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="img-responsive" src="{{ asset('images/PhotoMessage.jpg') }}" alt="photo message">
                </div>
                <div class="col-md-7">
                    <div class="dashboard-wrapper user-dashboard">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>email</th>
                                    <th>Object</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for userMessage in userMessages%}
                                    <tr>
                                        <td> {{userMessage.name}} </td>
                                        <td> {{userMessage.email }}</td>
                                        <td> {{userMessage.subject }}</td>
                                        <td>
                                            <div class="btn-group " role="group">
                                                <a href="{{ path('app_user_message_show', {'id': userMessage.id}) }}"><button type="button" class="btn btn-transparent">Voir</button></a>
                                                <form method="post" action="{{ path('app_user_message_delete', {'id': userMessage.id}) }}" onsubmit="return confirm('Supprimer ce message?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userMessage.id) }}">
                                                    <button class="btn btn-transparent">Supprimer</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
