{% extends 'layout/user.html.twig' %}

{% block content %}

    <section class="user-dashboard page-wrapper dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-wrapper user-dashboard background-white">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>email</th>
                                    <th>Object</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for userMessage in userMessages%}
                                    <tr>
                                        <td> {{userMessage.name}} </td>
                                        <td> {{userMessage.email }}</td>
                                        <td> {{userMessage.subject }}</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a href="{{ path('app_user_message_show', {'id': userMessage.id}) }}"><button type="button" class="btn btn-default"><i class="fa-solid fa-eye"></i></button></a>
                                                <form method="post" action="{{ path('app_user_message_delete', {'id': userMessage.id}) }}" onsubmit="return confirm('Supprimer ce message?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userMessage.id) }}">
                                                    <button class="btn btn-default"><i class="tf-ion-close" aria-hidden="true"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}




{#{% extends 'base.html.twig' %}#}

{#{% block title %}UserMessage index{% endblock %}#}

{#{% block body %}#}
{#    <h1>UserMessage index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Name</th>#}
{#                <th>Email</th>#}
{#                <th>Firstname</th>#}
{#                <th>Message</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for user_message in user_messages %}#}
{#            <tr>#}
{#                <td>{{ user_message.id }}</td>#}
{#                <td>{{ user_message.name }}</td>#}
{#                <td>{{ user_message.email }}</td>#}
{#                <td>{{ user_message.firstname }}</td>#}
{#                <td>{{ user_message.message }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_user_message_show', {'id': user_message.id}) }}">show</a>#}
{#                    <a href="{{ path('app_user_message_edit', {'id': user_message.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="6">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('app_user_message_new') }}">Create new</a>#}
{#{% endblock %}#}
