{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Détails du message</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="img-responsive" src="{{ asset('images/PhotoMessage.jpg') }}" alt="photo message">
                </div>
                <div class="col-md-7">
                    <div class="dashboard-wrapper dashboard-user-profile border">
                    <div class="media-body">
                        <ul class="user-profile-list">
                            <li><span>Nom:</span> {{ user_message.name }}</li>
                            <li><span>Prénom:</span> {{ user_message.firstname}}</li>
                            <li><span>Email:</span> {{ user_message.email}}</li>
                            <li><span>Objet</span> {{ user_message.subject}}</li>
                            <li><span>Message</span> {{ user_message.message }}</li>
                            <li><button class="btn btn-transparent"> <a href="{{ path('app_user_message_index') }}">Retour</a></button></li>
                            <li>{{ include('pages/users/user_message/_delete_form.html.twig') }}</li>
                        </ul>
                </div>

            </div>
        </div>
            </div>
        </div>
    </section>

{% endblock %}
