{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Détails de l'annonce</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-wrapper">
        <div class="checkout shopping">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block billing-details">
                            <h4 class="widget-title">Horaire</h4>
                            <form class="checkout-form">
                                <div class="form-group">
                                    <label for="full_name">{{ hourly.date|date("d/m/Y", "Europe/Paris") }}</label>
                                    <input type="text" class="form-control" id="full_name" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="user_address">{{ hourly.hospital }}</label>
                                    <input type="text" class="form-control" id="user_address" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="user_address">{{ hourly.service }}</label>
                                    <input type="text" class="form-control" id="user_address" placeholder="">
                                </div>

                            </form>
                            <div class="text-right">
                            <button class="btn btn-main btn-small btn-round"> <a class="white" href="{{ path('app_hourly_user-index') }}">Retour</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-checkout-details">
                            <div class="block">
                                <h4 class="widget-title">Detail Hôpital</h4>
                                <h4>{{ hourly.hospital.name }}</h4>
                                <p>{{ hourly.hospital.adress }}</p>
                                <p>{{ hourly.hospital.postalCode }}</p>
                                <p>{{ hourly.hospital.town }}</p>
                                <p>{{ hourly.hospital.phoneNumber }}</p>
                                <p> <a href= "mailto:{{hourly.hospital.email }}">{{ hourly.hospital.email }}</a></p>
                                <button class="btn btn-main btn-small btn-round "><a class="white" href="mailto:{{ hourly.hospital.applyMail }}">Postuler</a> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
