{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Détails de l'annonce</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    <div class="page-wrapper">
        <div class="checkout shopping">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h4 class="widget-title">Horaire</h4>
                            <h5 class="widget-title">Date: {{ hourly.date|date("d/m/Y", "Europe/Paris") }}</h5>
                            <h5 class="widget-title">Service: {{ hourly.service }}</h5>
                            <h5 class="widget-title">Lieu : {{ hourly.hospital }} </h5>
                            <h5 class="widget-title">
                                <div class="text-center">
                                    <button class="btn btn-main btn-small btn-round"><a class="white"href="mailto:{{ hourly.hospital.applyMail }}">Postuler</a></button>
                                </div></h5>
                            <div class="text-right">
                                <button class="btn btn-main btn-small btn-round"><a class="white"href="{{ path('app_hourly_user-index') }}">Retour</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-checkout-details">
                            <div class="block">
                                <h4 class="widget-title">Detail Hôpital</h4>
                                <h4>{{ hourly.hospital.name }}</h4>
                                <p>{{ hourly.hospital.adress }}</p>
                                <p>{{ hourly.hospital.postalCode }}</p>
                                <p>{{ hourly.hospital.town }}</p>
                                <p>{{ hourly.hospital.phoneNumber }}</p>
                                <p>{{ hourly.hospital.website }}</p>
                                <p><a href="mailto:{{ hourly.hospital.email }}">{{ hourly.hospital.email }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


{% endblock %}