{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Mon Profil</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="product-section">
        <div class="container">
                <div class="col-md-12">
                    <div class="dashboard-wrapper dashboard-user-profile border">
                        <div class="media">
                            <div class="pull-left text-center" href="#!">
                                <img class="media-object user-img padding" src="{{ asset('images/uploads/' ~app.user.photo.url) }}" alt="Image de profil">
                                <a href="{{ url('app_user_profile_editPhoto', {id: app.user.id }) }}" class="btn btn-transparent mt-20">Change Image</a>
                            </div>
                            <div class="media-body">
                                <ul class="user-profile-list">
                                    <li><span>Titre:</span> {{ app.user.job }}</li>
                                    <li><span class="hight">Nom:</span> {{ app.user.name }}</li>
                                    <li><span>Prénom:</span> {{ app.user.firstname }}</li>
                                    <li><span>Specialisation:</span> {{ app.user.specialization }}</li>
                                    <li><span>N° Inami:</span> {{ app.user.inamiNumberPart1 }}-{{app.user.inamiNumberPart2 }}-{{ app.user.inamiNumberPart3}}-{{ app.user.inamiNumberPart4}} </li>
                                    <li><span>Email:</span>{{ app.user.email }}</li>
                                    <li> <span><a class="btn btn-transparent mt-20" href="{{ url('app_user_profile_edit', {id: app.user.id }) }}">Modifier</a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

