{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="user-dashboard page-wrapper dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-wrapper dashboard-user-profile background-white">
                        <div class="media">
                            <div class="pull-left text-center" href="#!">
                                <img class="media-object user-img" src="{{ asset('/images/uploads/' ~app.user.photo.url) }}" alt="Image de profil">
                                <a href="#x" class="btn btn-transparent mt-20">Change Image</a>
                            </div>
                            <div class="media-body">
                                <ul class="user-profile-list">
                                    <li><span>Nom:</span> {{ app.user.name }}</li>
                                    <li><span>Prénom:</span> {{ app.user.firstname }}</li>
                                    <li><span>Email:</span>{{ app.user.email }}</li>
                                    <li><span>Specialisation:</span>{{ app.user.specialization }}</li>
                                    <li><span>Numéro Inami:</span>{{ app.user.inamiNumber }}</li>
                                </ul>
                                <a class="text-center" href="{{ url('app_user_profile_edit', {id: app.user.id }) }}">Modifier</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

