{% extends 'layout/admin.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Profil</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-wrapper dashboard-user-profile border">
                        <div class="media">
                            <div class="pull-left text-center" href="#!">
                                <img class="user-img" src="{{ asset('/images/uploads/' ~user.photo.url) }}" alt="Image de profil">

                            </div>
                            <div class="media-body">
                                <ul class="user-profile-list">
                                    <li><span>Titre:</span> {{ user.job }}</li>
                                    <li><span class="hight">Nom:</span> {{ user.name }}</li>
                                    <li><span>Prénom:</span> {{ user.firstname }}</li>
                                    <li><span>Specialisation:</span> {{ user.specialization }}</li>
                                    <li><span>N° Inami:</span> {{ user.inamiNumber }}</li>
                                    <li><span>Email:</span> <a href= "mailto:{{app.user.email }}">{{ user.email }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-main btn-small btn-round"><a  class="white" href="{{ url('adminSearchUserIndex') }}">Retour</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

