{% extends 'layout/basic.html.twig' %}

{% block navigation %}

<!-- Main Menu Section -->
<section class="menu">
    <nav class="navbar navigation background-blue">
        <div class="container">
            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown ">
                        <a href="{{ url('admin-home') }}" >Accueil</a>
                    </li><!-- / Home -->

                    <!--Hourly--->
                    <li class="dropdown dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                           role="button" aria-haspopup="true" aria-expanded="false">Annonces <span
                                    class="tf-ion-ios-arrow-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('app_hourly_index') }}">Les annonces </a></li>
                            <li><a class="white" href="{{ url('app_hourly_new') }}">Ajouter une annonce</a></li>
                        </ul>
                    </li>

                    <!--Hospital--->

                    <li class="dropdown ">
                        <a href="{{ url('app_hospital_index') }}">Hôpitaux</a>
                    </li>
                    <!--Service--->

                    <li class="dropdown ">
                        <a href="{{ url('app_service_index') }}">Services</a>
                    </li>
                    <!-- Message -->

                    <li class="dropdown dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                           role="button" aria-haspopup="true" aria-expanded="false">Messages <span
                                    class="tf-ion-ios-arrow-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('app_contact_message_index') }}">Messages site</a></li>
                            <li><a href="{{ url('app_admin_message_index') }}">Messages hôpitaux</a></li>
                            <li><a href="{{ url('app_hourly_request_index') }}">Demandes d'ajout</a></li>
                            <li><a href="{{ url('app_delete_message_index') }}">Demandes de suppression</a></li>
                        </ul>
                    </li>

                    <!-- Consulter les profils des utilisateurs -->
                    <li class="dropdown">
                    <a href="{{ url('adminSearchUserIndex') }}">Utilisateurs</a>
                    </li>
                    <!-- Deconnexion -->

                    <li class="dropdown ">
                        <a href="{{ url('app_logout') }}">Déconnexion</a>
                    </li>


                </ul><!-- / .nav .navbar-nav -->

            </div>
            <!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>
{% endblock %}


{% block content %}
{% endblock %}

