{% extends 'layout/basic.html.twig' %}

{% block navigation %}

<!-- Main Menu Section -->
<section class="menu">
    <nav class="navbar navigation background-blue">
        <div class="container">
            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown ">
                        <a href="{{ url('admin-home') }}" >Home</a>
                    </li><!-- / Home -->

                    <!--Apply--->

                    <li class="dropdown ">
                        <a href="{{ url('app_hourly_index') }}">Annonces </a>
                    </li>

                    <!--Hospital--->

                    <li class="dropdown ">
                        <a href="{{ url('app_hospital_index') }}">Hôpitaux</a>
                    </li>
                    <!--Service--->

                    <li class="dropdown ">
                        <a href="{{ url('app_service_index') }}">Services</a>
                    </li>
                    <!-- Message -->

                    <li class="dropdown ">
                        <a href="{{ url('app_admin_message_index') }}">Messages</a>
                    </li>

                    <!-- Consulter les profils des utilisateurs -->

                    <li class="dropdown ">
                        <a href="{{ url('admin-searchUser') }}">Médecins</a>
                    </li>

                    <!-- Deconnexion -->

                    <li class="dropdown ">
                        <a href="{{ url('user-home') }}"><i class="fa-solid fa-hospital-user"></i></a>
                    </li>


                    <!-- Deconnexion -->

                    <li class="dropdown ">
                        <a href="{{ url('app_logout') }}">Déconnexion</a>
                    </li>


                </ul><!-- / .nav .navbar-nav -->

            </div>
            <!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>
{% endblock %}


{% block content %}
{% endblock %}

