{% block stylesheet %}

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Medec'Im,Intérim médecins</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Constra HTML Template v1.0">

    <!-- Favicon -->
{#    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />#}

    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href={{ asset ("plugins/themefisher-font/style.css")}}>
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href={{asset("plugins/bootstrap/css/bootstrap.min.css")}}>

    <!-- Animate css -->
    <link rel="stylesheet" href={{ asset("plugins/animate/animate.css")}}>
    <!-- Slick Carousel -->
    <link rel="stylesheet" href={{ asset("plugins/slick/slick.css")}}>
    <link rel="stylesheet" href={{ asset("plugins/slick/slick-theme.css")}}>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href={{ asset("css/style.css")}}>

   <!--Librairie Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Fullcalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">

</head>

{% endblock %}

{% block body %}
<body>

<div id="body">

<!-- Start Top Header Bar -->
<section class="top-header background-blue">
    <div class="container">
        <div class="row">

            <!-- Site Logo -->
            <div class="logo text-center ">
                <a href="{{ url('home') }}" >
                    <!-- replace logo here -->
                    <h1 class="white">Medec'Im </h1>
                </a>
            </div>
        </div>
    </div>
</section><!-- End Top Header Bar -->

{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<footer>
    <div class="footer section text-center">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright-text">Copyright &copy;2021, Designed &amp; Developed by <a
                            href="https://themefisher.com/">Themefisher</a></p>
            </div>
        </div>
</div>
</footer>
</body>
{% endblock %}

{% block javascript %}

<!--
   Essential Scripts
   =====================================-->

<!-- Main jQuery -->
<script src={{ asset ("plugins/jquery/dist/jquery.min.js")}}></script>
<!-- Bootstrap 3.1 -->
<script src={{ asset ("plugins/bootstrap/js/bootstrap.min.js")}}></script>
<!-- Bootstrap Touchpin -->
<script src={{ asset("plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js")}}></script>
<!-- Instagram Feed Js -->
<script src={{ asset ("plugins/instafeed/instafeed.min.js")}}></script>
<!-- Video Lightbox Plugin -->
<script src={{ asset ("plugins/ekko-lightbox/dist/ekko-lightbox.min.js")}}></script>
<!-- Count Down Js -->
<script src={{ asset ("plugins/syo-timer/build/jquery.syotimer.min.js")}}></script>

<!-- slick Carousel -->
<script src={{ asset ("plugins/slick/slick.min.js")}}></script>
<script src={{ asset ("plugins/slick/slick-animation.min.js")}}></script>

<!-- Google Mapl -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script type="text/javascript" src={{ asset ("plugins/google-map/gmap.js")}}></script>

<!-- Main Js File -->
<script src={{ asset ("js/script.js")}}></script>

<!-- Full calendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"></script>

{% endblock %}
