{% block stylesheet %}

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Medec'Im</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Constra HTML Template v1.0">

    <!-- Favicon -->
{#    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />#}

    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href={{ asset ("plugins/themefisher-font/style.css")}}>
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href={{asset("plugins/bootstrap/css/bootstrap.min.css")}}>

    <!-- Animate css -->
    <link rel="stylesheet" href={{ asset("plugins/animate/animate.css")}}>
    <!-- Slick Carousel -->
    <link rel="stylesheet" href={{ asset("plugins/slick/slick.css")}}>
    <link rel="stylesheet" href={{ asset("plugins/slick/slick-theme.css")}}>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href={{ asset("css/style.css")}}>

</head>

{% endblock %}

{% block body %}

<body id="body">

<!-- Start Top Header Bar -->
<section class="top-header">
    <div class="container">
        <div class="row">

            <!-- Site Logo -->
            <div class="logo text-center">
                <a href="{{ url('home') }}" >
                    <!-- replace logo here -->
                    <h1>Medec'Im </h1>
                </a>
            </div>
        </div>
    </div>
</section><!-- End Top Header Bar -->

<!-- Main Menu Section -->
<section class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown ">
                        <a href="{{ url('home') }}" >Home</a>
                    </li><!-- / Home -->

                    <!--About--->

                    <li class="dropdown ">
                        <a href="{{ url('about') }}">About</a>
                    </li>

                    <!--Contact--->

                    <li class="dropdown ">
                        <a href="{{ url('contact') }}">Contact Us</a>
                    </li>
                    <!-- Inscription -->

                    <li class="dropdown ">
                        <a href="{{ url('register') }}">Inscription</a>
                    </li>

                    <!-- Connexion -->

                    <li class="dropdown ">
                        <a href="{{ url('app_login') }}">Connexion</a>
                    </li>


                </ul><!-- / .nav .navbar-nav -->

            </div>
            <!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>



{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<footer class="footer section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright-text">Copyright &copy;2021, Designed &amp; Developed by <a
                            href="https://themefisher.com/">Themefisher</a></p>
            </div>
        </div>
    </div>
</footer>
</body>
{% endblock %}

{% block javascript %}

<!--
   Essential Scripts
   =====================================-->

<!-- Main jQuery -->
<script src={{ asset ("plugins/jquery/dist/jquery.min.js")}}></script>
<!-- Bootstrap 3.1 -->
<script src={{ asset ("plugins/bootstrap/js/bootstrap.min.js")}}></script>
<!-- Bootstrap Touchpin -->
<script src={{ asset("plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js")}}></script>
<!-- Instagram Feed Js -->
<script src={{ asset ("plugins/instafeed/instafeed.min.js")}}></script>
<!-- Video Lightbox Plugin -->
<script src={{ asset ("plugins/ekko-lightbox/dist/ekko-lightbox.min.js")}}></script>
<!-- Count Down Js -->
<script src={{ asset ("plugins/syo-timer/build/jquery.syotimer.min.js")}}></script>

<!-- slick Carousel -->
<script src={{ asset ("plugins/slick/slick.min.js")}}></script>
<script src={{ asset ("plugins/slick/slick-animation.min.js")}}></script>

<!-- Google Mapl -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script type="text/javascript" src={{ asset ("plugins/google-map/gmap.js")}}></script>

<!-- Main Js File -->
<script src={{ asset ("js/script.js")}}></script>

{% endblock %}
