{% extends 'layout/admin.html.twig' %}

{% block content %}

    <section>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <aside class="sidebar">
                            <div class="widget widget-subscription">
                                <h4 class="widget-title">Rechercher un médecin</h4>
                            </div>
                                {% set searchForm = getSearchForm() %}
                                {{ form_start(searchForm) }}
                                {{ form_widget(searchForm.keyword) }}
                                {{ form_end(searchForm) }}
                        </aside>
                    </div>
                    <div class="col-md-8">
                        {% for user in users %}
                            <div class="dashboard-user-profile">
                                <div class="media">
                                    <div class="pull-left text-center">
                                        <img class="media-object user-img"
                                             src="{{ asset('images/avater.jpg') }}" alt="photo de profil">
                                        <a href="#x" class="btn btn-transparent mt-20">Changer la photo</a>
                                    </div>
                                    <div class="media-body">
                                        <ul class="user-profile-list">
                                            <li><span>Nom:</span> {{ app.user.name }}</li>
                                            <li><span>Prénom:</span> {{ app.user.firstname }}</li>
                                            <li><span>Email:</span>{{ app.user.email }}</li>
                                            <li><span>Specialisation:</span>{{ app.user.specialization }}
                                            </li>
                                            <li><span>Numéro Inami:</span>{{ app.user.inamiNumber }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h5> Aucun résultat</h5>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

